.header {
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid var(--borderColor-default-gray);
    background-color: var(--bgColor-veryDarkBlue);
}

.avatar{
    display: inline-block;

    border-radius: 50%;
    transition: var(--time-focus) ease-in-out;
}

.avatar:hover {
    cursor: pointer;
    filter: blur(2px);

    
}

main{
    max-width:70%;
    display: flex;
    margin-right:auto;
    margin-left:auto;
    height: 100%;
}

.conteiner.main {
    background-color: var(--bgColor-darkGray);
    border: 1px solid var(--borderColor-default-gray);
    border-radius: 7px;
    min-height:64px;
}

.conteiner.footer {
    margin-top: 40px;
    padding: 32px 16px;
}

.text {
    font-size: 14px;
}

ul {
    list-style: none;
    display: flex;
}

